// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
//import font 
@import url('https://fonts.googleapis.com/css?family=El+Messiri');

body{
    font-family: 'El Messiri', sans-serif;

    text-align: center;
}
 .logo{
     margin-top: 15%
 }

///start button / suggestion button 
.btn{
    display: block;
    background: #0b9496;
    font-size: 38px;
    padding: 11px ;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #e9eded;
    cursor: pointer;
    margin-top: 40px;
    height: 80px;
    border-radius: 30px;

    &:hover {
        background:#40bfc4;
    }  
    &:active {
        background:#40bfc4;
    }  
    &:focus{ ///loading event  
        font-size: 0;
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-ellipsis div {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      .lds-ellipsis div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .lds-ellipsis div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
      }
      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(19px, 0);
        }
      }
      
    }
}




.background {
    background: #eaeaea url("https://wainnakel.com/images/background.jpg");
        // background: #eaeaea url("/public/images/background.jpg");
        background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }


.main-container {
    text-align: center;
    background: rgba(255,255,255,0.5);
    min-height: 100%;
    max-width: 60%;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
  }


  .MapPage {
    background: #e9eded;  // أحذف ذا 

  }